body {
    background: #b3eda1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    perspective: 800px;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.tree {
    position: relative;
    top: -100px;
    width: 300px;
    height: 300px;
    transform-origin: bottom    ;
    transform-style: preserve-3d;
    transform: rotateX(-10deg) rotateY(calc(var(--k)*1deg));

}
.photo{
    cursor: pointer;
    position:absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: transparent;
}


.tree div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: translateY(calc(100px * var(--j)));
}

.tree div.top span{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: bottom;
    background: linear-gradient(90deg,#69c069,#77dd77);
    clip-path: polygon(50% 0%,0% 100%,100% 100%);
    border-bottom: 10px solid #00000019;
    transform: rotateY(calc(90deg*var(--i))) rotateX(30deg) translateZ(173px) ;
}


.tree div.ornament span {
    position: absolute;
    width: 26px;
    top:100px;
    left: 125px;
    height: 26px;
    border-radius: 50%;
    background: radial-gradient(circle at 20% 30%, #ffffff, var(--ornament-color));
    transform:  rotateY(calc(90deg*var(--i))) rotateX(30deg) translateZ(calc(90px + var(--offsetZ))) translateY(calc(50px + var(--offsetY))) translateX(calc(10px + var(--offsetX)));
    transform-origin: center;
}


.tree div.ornament span::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 5px;
    background: #c9a227;
    border-radius: 2px;
}

.tree div.ribbon span{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: bottom;
    background: linear-gradient(90deg,#f2ff39,#ffffff);
    clip-path: polygon(
  11% 15%,   /* top-left  */
  90% 15%,   /* top-right */
  92% 20%, /* bottom-right */
  7% 20%    /* bottom-left */
);

    border-bottom: 10px solid #00000019;
    transform: rotateY(calc(90deg*var(--i))) rotateX(30deg) translateZ(173px) translateY(200px) ;
}
.tree div.bottom span{
    position:absolute;
    top: 400px;
    left: calc(50% - 30px);
    width: 60px;
    height: 100px;
    transform-origin: bottom;
    background: linear-gradient(90deg,#bb4622,#df7214);
    border-bottom: 10px solid #00000019;
    transform: rotateY(calc(90deg*var(--i))) translateZ(30px) ;
}
